USE [master]
GO
CREATE DATABASE [Friends]
 CONTAINMENT = NONE
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Friends].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Friends]
GO
USE [Friends]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculoHistoricoLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResultadoDistancia] [bigint] NOT NULL,
	[DiferencaLatitude] [bigint] NOT NULL,
	[DiferencaLongitude] [bigint] NOT NULL,
	[DataCalculo] [datetime] NOT NULL,
	[FriendId] [int] NOT NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Latitude] [bigint] NOT NULL,
	[Longitude] [bigint] NOT NULL,
 CONSTRAINT [PK_Friends] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](20) NOT NULL,
	[AccessKey] [varchar](32) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CalculoHistoricoLog]  WITH CHECK ADD FOREIGN KEY([FriendId])
REFERENCES [dbo].[Friend] ([ID])
GO
	INSERT INTO [DBO].[Users]
	VALUES('Admin','123@321')
GO
USE [master]
GO
